/* sidebar */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.min-h-screen {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .sidebar-overlay {
    display: none;
  }
}

.main-layout {
  display: flex;
}

.products-area {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .products-area {
    width: 100%;
  }
}